{
  "extends": "@react-native-community",
  "rules": {
    "semi": ["error", "never"],
    "no-extra-semi": "off",
    "react-native/no-inline-styles": "off",
    "curly": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "react-hooks/exhaustive-deps": 1
  }
}
