/* @font-face {
  font-family: "Literata Book";
  src: url("../../../../assets/fonts/LiterataBook-Regular-light.otf");
<<<<<<< HEAD
}
/* 
=======
} */

>>>>>>> Webview with RNW
html {
  scroll-behavior: smooth;
} */