.block-strong--content {
  margin: 10px 0;
  padding: 13px 18px;
  background: linear-gradient(50deg, rgba(9,132,227,0.8) 0%,rgb(9,132,227) 100%);
  box-shadow: 0 3px 6px 0px rgba(9, 132, 227, 0.44);
  border-radius: 4px;
  color: white;
  position: relative;
  overflow: hidden;
}

.block-strong--title {
  font-size: 16px;
  font-weight: bold;
}

.block-strong--content {
  font-size: 12px;
}

.block-strong--original {
  position: absolute;
  top: -12px;
  right: 0;
  font-size: 30px;
  opacity: 0.3;
}

.block-strong--arrow {
  position: absolute;
  bottom: -17px;
  right: 15px;
  opacity: 0.3;
}